@font-face {
    font-family: fira-code;
    src: url("/font/FiraCode-Regular.woff");
}

* {
    --navy1: #333;
    --navy2: #222;
    --navy3: #111;
    --grey1: #333;
    --grey2: #333;
    --grey3: #666;
    --grey4: #bbb;
    --gold1: #fff;
    --gold2: #fff;

    --body-width: clamp(20ch, 95%, 80ch);
    --side-gutter-width: calc((100% - var(--body-width)) / 2);
    --main-margin-top: 30px;
    --footer-height: 120px;
    --header-height: 5%;
    --header-padding: 20px;
    --logo-size: 80px;
    --logo-margin: 40px;

    --navy-gradient: linear-gradient(
        30deg,
        var(--navy1) 0%,
        var(--navy2) 20%,
        var(--navy3) 100%);

    background-color: var(--gold2);
    color: var(--navy1);
    font-family: fira-code, monospace;
}

body {
    margin: 0;
}

p, li, em, td {
    color: var(--grey1);
}

pre {
    overflow: auto;
}

.image-center {
    left: 15%;
    position: relative;
    width: 70%;
}

.index-personal-logo {
    left: calc(50% - 40px);
    margin: var(--logo-margin) 0;
    position: relative;
    width: var(--logo-size);
}

.main {
    min-height: calc( /* bottom of the main box should be... */
        100vh /* height of the viewport from start of main box */
        - var(--header-padding) /* minus the header size */
        - var(--logo-size) /* minus the logo so it is on screen */
        - var(--logo-margin) /* minus the logo margin so it shows the buffer */
        - var(--footer-height) /* minus the footer but it is still not on-screen because of header */
        + 20px /* not sure where this comes from, but it puts the footer just off-screen */
    );
    margin: var(--main-margin-top) var(--side-gutter-width) 0 var(--side-gutter-width);
    width: var(--body-width);
}

.main-buffer {
    margin: 5px 20px 60px 20px;
}

.light-text {
    color: var(--grey3);
}

.header {
    min-height: var(--header-height);
    background-color: var(--gold2);
    color: var(--navy1);
    /* Use padding for background gradient extension */
    padding: var(--header-padding) var(--side-gutter-width);
    width: var(--body-width);
}

.header-float-right {
    float: right;
}

.footer {
    background: var(--navy-gradient);
    height: var(--footer-height);
    /* Use padding for background gradient extension */
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.footer * {
    background: rgb(0, 0, 0, 0);
    color: var(--gold2);
}
